<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Projeto: Tradutor Shakespeareano</h1>
  <p>
    O Tradutor Shakespeareano é uma aplicação
    web inovadora que transporta os usuários para o universo da dramaturgia
    elisabetana, permitindo que eles experimentem a linguagem poética e rica de
    William Shakespeare de uma maneira acessível, interativa e engraçada.
  </p>

  <div class="image-container">
    <img src="assets/shakespeare.jpg" alt="William Shakespeare" />
    <ion-button class="center-button" [routerLink]="['/home']">Voltar</ion-button>
  </div>



</ion-content>
