<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conversor de texto 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conversor de texto Shakespeariano</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <h1>Bem vindo(a) ao conversor de texto</h1>
    <p>Dê um toque mais drámatico aos seus textos e se divirta!</p>
    <ion-button [routerLink]="['/texto']">Entrar</ion-button>
    <ion-button [routerLink]="['/sobre']">Sobre</ion-button>
  </div>

 
</ion-content>
