.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.input-container {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.text-input {
  --padding-start: 15px; 
  --padding-end: 15px; 
  --border-radius: 0; 
  height: 60px; 
}

.small-button {
  width: 70%;
  max-width: 150px;
  margin-top: 10px;
}

ion-content {
    --background: #2f0505; 
  }
  
